<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="wrap">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div *ngFor="let dress of dresses" class="item">
    <div class="images">
        <img src="../assets/dress_{{dress?.id}}_front.jpg" alt="">
        <img src="../assets/dress_{{dress?.id}}_back.jpg" alt="">
    </div>
    <div class="info" >
        <p class="name link"><span><strong>{{ dress?.name }}</strong></span></p>
        <p class="cost link"><span><strong>{{ dress?.cost }}</strong></span></p>
        <p class="made link"><span><strong>{{ dress?.made }}</strong></span></p>
    </div>
  </div>


</div>
